accelerate==1.10.1
certifi==2025.8.3
charset-normalizer==3.4.3
diffusers @ git+https://github.com/huggingface/diffusers@edd614ea38a7136cf66e1cb4dad696233c17358c
filelock==3.13.1
fsspec==2024.6.1
hf-xet==1.1.10
huggingface-hub==0.35.0
idna==3.10
importlib_metadata==8.7.0
Jinja2==3.1.4
MarkupSafe==2.1.5
modelscope==1.30.0
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
opencv-python-headless==4.12.0.88
packaging==25.0
pillow==11.0.0
psutil==7.1.0
PyYAML==6.0.2
regex==2025.9.18
requests==2.32.5
safetensors==0.6.2
sympy==1.13.3
tokenizers==0.22.1
torch==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
transformers==4.56.2
triton==3.3.1
typing_extensions==4.12.2
urllib3==2.5.0
zipp==3.23.0
